@use 'reset';

body {
  background-color: #2e5849;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
}

.form-item {
  width: 100%;
  color: #fff;
  font-size: 2em;
  background: #1c382f;
  border: 1px solid #183129;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.counter {
  margin: 2rem 0 1rem;
  font-size: 1.5em;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 0.5rem 0;
}

.item {
  display: block;
  background: #eee;
  border-radius: 3px;
  padding: 0.8rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.item-label--done {
  opacity: 0.5;
  text-decoration: line-through;
}

.item-delete {
  border: none;
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 5rem calc(50% - 24px) 0;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
